<!DOCTYPE html>
<html>
<head>
  <title>Leaderboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li><%= link_to "Fans", fans_path %></li>
  <li><%= link_to "All Leader boards", leader_boards_path %></li>
  <li><%= link_to "Scores", scores_path %></li>
</ul>
<%= yield %>

</body>
</html>
